.playerContainer {
    background-color: rgb(18, 18, 18);
    display: flex;
    height: fit-content;
    width: fit-content;
    max-width: 900px;
    flex-direction: column;
    margin: 75px auto;
}

.playerContainer h2 {
    margin: 0;
}

.playerContainer h3 {
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    /* .playerContainer {
        
    } */

    .playerBanner {
        flex-direction: column;
    }

    .playerBannerTitles {
        padding-left: 0;
        margin-top: 15px;
    }

    .playerBannerTitles audio {
        margin-top: 15px;
        position: relative;
    }
}