.landingPage {
    text-align: center;
    height: 100%;
}


/*
.musicPath:hover {
    background: rgb(255, 183, 0);
    color: rgb(32, 105, 145);
}
.musicPath:active {
    background: rgb(216, 155, 0);
    color: rgb(65, 186, 223);
}

.webDevPath:hover {
    background: rgb(65, 184, 220);
    color: rgb(245, 183, 25);
}
.webDevPath:active {
    background: rgb(32, 105, 145);
    color: rgb(255, 248, 59);
}
*/