.homeDiv {
    display: flex;
    flex-direction: column;
    color: rgb(18, 18, 18);
    background-color: rgb(255, 248, 239);
    width: 100%;
    height: 100%;
    min-height: 600px;
    text-align: center;
    margin: auto;
    height: fit-content;
    padding: 30px 0;
}

.leftRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 20px auto 0 auto;
    background: rgb(255, 252, 242);
    box-shadow: 5px 5px 15px 1px rgb(145, 145, 145);
}

.leftContainer {
    padding: 2%;
    justify-content: left;
    width: 50%;
    text-align: left;
}
.rightContainer {
    padding: 2%;
    justify-content: right;
    width: 50%;
    height: fit-content;
    text-align: right;
    margin-top: 105px;
}

.homeDiv h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    width: fit-content;
}

.line {
    border-bottom: 1px solid rgb(18, 18, 18);
}

.homeDiv p {
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 2px;
}

.faceImageL {
    height: 250px;
    margin-top: 20px;
    opacity: 90%;
}

.faceImageR, .faceImageB {
    display: none;
}

.social a{
    margin-left: 10px;
}

.social a:visited {
    color: black;
}

@media screen and (max-width: 825px) {
    .leftRightContainer {
        flex-direction: column;
    }
    .leftContainer, .rightContainer {
        width: 100%;
    }
    .rightContainer {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    .faceImageL {
        display: none;
    }
    .faceImageB {
        height: auto;
        width: 40%;
        margin: auto;
        margin-top: 20px;
        opacity: 90%;
        display: block;
    }
}

@media screen and (max-width: 625px) {
    .rightContainer {
        flex-direction: column;
        text-align: center;
    }
    .faceImageR {
        display: none;
    }
    .faceImageB {
        height: auto;
        width: 40%;
        margin: auto;
        margin-top: 20px;
        opacity: 90%;
        display: block;
    }
}