.homeDiv {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%;
    margin: auto;
    height: fit-content;
    padding: 0;
}

.leftRightContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1%;
    margin: 30px auto;
}

.leftRightContainer h2 {
    margin: 0;
}

.leftContainer,
.rightContainer {
    margin: auto;
    width: 70%;
}
.rightContainer {
    height: fit-content;
    margin-top: 3%;
    text-align: left;
}

.homeDiv p {
    font-size: 20px;
    margin: 0 0 0 3px;
    font-weight: light;
    letter-spacing: 2px;
    padding: 2px;
}

.faceImage {
    margin: 20px 0 0 0;
    width: 250px;
    opacity: .90;
}

.social a{
    margin-left: 10px;
}

.social a:link {color: rgb(211, 211, 211);}
.social a:visited {color: rgb(211, 211, 211);}
.social a:hover {color: rgb(255, 183, 0);}
.social a:active {color: rgb(0, 68, 150);}

@media screen and (max-width: 1100px) {
    .leftRightContainer {
        flex-direction: column;
    }
    .leftContainer, .rightContainer {
        width: 100%;
    }
    .rightContainer {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 825px) {
    .homeDiv h2 {
        margin: 10px;
    }
}

@media screen and (max-width: 625px) {
    .leftRightContainer{
        width: 90%;
        margin-top: 5%;
    }
    .rightContainer {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 510px) {
    .leftRightContainer {
        width: auto;
        border-radius: 0;
    }
}