.homeDiv {
    display: flex;
    flex-direction: column;
    color: rgb(18, 18, 18);
    background-color: rgb(255, 249, 235);
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    height: fit-content;
    padding: 0;
}

.leftRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding: 2%;
    margin: 5% auto;
    background: rgb(255, 248, 239);
    box-shadow: 5px 5px 15px 2px rgb(172, 172, 172);
    border-radius: 1%;
}

.leftContainer {
    justify-content: left;
    width: 50%;
    text-align: left;
}
.rightContainer {
    justify-content: right;
    width: 50%;
    height: fit-content;
    text-align: right;
    margin-top: 5%;
}

.homeDiv h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    width: fit-content;
}

.line {
    border-bottom: 1px solid rgb(18, 18, 18);
    padding-right: 1px;
}

.homeDiv p {
    font-size: 20px;
    margin: 0 0 0 3px;
    font-weight: light;
    letter-spacing: 2px;
    padding: 2px;
}

.faceImage {
    height: 250px;
    margin-top: 20px;
    opacity: .90;
}

.social a{
    margin-left: 10px;
}

.social a:link {color: rgb(19,19,19);}
.social a:visited {color: rgb(19,19,19);}
.social a:hover {color: rgb(0, 115, 203);}
.social a:active {color: rgb(0, 68, 150);}

@media screen and (max-width: 1100px) {
    .homeDiv h2 {
        margin: auto;
    }
    .line {
        margin: 0 auto 20px auto;
    }
    .leftRightContainer {
        flex-direction: column;
    }
    .leftContainer, .rightContainer {
        width: 100%;
    }
    .rightContainer {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    .faceImage {
        height: auto;
        width: 40%;
        margin: auto;
        margin-top: 20px;
        opacity: .90;
        display: block;
    }
    .line {
        max-width: 250px;
    }
}

@media screen and (max-width: 625px) {
    .leftRightContainer{
        width: 90%;
        margin-top: 5%;
    }
    .rightContainer {
        flex-direction: column;
        text-align: center;
    }
    .faceImageB {
        height: auto;
        width: 40%;
        margin: auto;
        margin-top: 20px;
        opacity: .90;
        display: block;
    }
}