.devContact {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: rgb(19, 19, 19);
    padding: 2%;
    max-width: 350px;
    min-width: 320px;
    background: rgb(255, 252, 242);
    box-shadow: 5px 5px 15px 1px rgba(255, 255, 255, 0.201);
    margin-top: 5%;
}

.devContact input,
.devContact textarea,
.devContact button {
    max-width: 320px;
    min-width: 320px;
}

.devContact input {
    margin-bottom: 15px;
    height: 25px;
    padding: 3px;
}

.devContact textarea {
    min-height: 100px;
}

.devContact button {
    height: 35px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 249, 242);
    background: rgb(19,19,19);
    border: none;
}

.devContact button:hover {
    cursor: pointer;
    color: rgb(232, 226, 54);
    background: rgb(29, 93, 128);
}

@media screen and (max-width: 510px) {
    .devContact {
        box-shadow: none;
        width: 90%;
    }
}