.musHome {
    min-height: 100%;
    padding: 0;
}

.musHomeContent {
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    background: none;
    min-height: 600px;
    width: 80%;
    color: rgb(255, 255, 255);
    margin: 5% auto 10% auto;
}

.musHomeContent h2 {
    margin: 0 auto;
}

.newsH3 {
    font-size: 40px;
}

.newsColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: none;
    color: white;
    overflow: auto;
}
.newsButton {
    min-height: 60px;
    max-height: 60px;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 5px;
}

.newsButton:hover,
.selected {
    background: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
}

.black {
    background: rgb(0, 0, 0);
    color: white;
}

.articleBox {
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow: auto;
    padding: 1vw;
    background: rgb(232, 232, 232);
    height: fit-content;
}

.articleContent {
    background: black;
    padding: 5%;
    font-size: medium;
    letter-spacing: 2px;
}

.articleLink {
    text-decoration: none;
}

.articlePic {
    width: 50%;
    margin-top: 10%;
}

@media screen and (max-width: 825px) {
    .musHome h2 {
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {
    .musHomeContent {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .articleContent {
        font-size: 10px;
        font-weight: normal;
    }
    .newsH3 {
        font-size: large;
    }
}