.projectsContainer {
    display: flex;
    flex-direction: column;
}

.projectDiv {
    color: rgb(19,19,19);
    background-color:rgb(244, 244, 244);
    margin: auto;
    margin-bottom: 5px;
    padding: 50px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 6px solid rgb(19, 19, 19);
}

.projectDiv h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.projectInfo {
    /* width: 33%; */
    flex: 1;
    margin-right: 30px;
    padding: 2%;
    background: rgb(255, 252, 242);
    box-shadow: 5px 5px 15px 1px rgb(215, 215, 215);
    border-radius: 1%;
}

.line {
    border-bottom: 1px solid rgb(18, 18, 18);
    width: 100%;
}

.projectDiv a {
    text-decoration: none;
    width: fit-content;
}

.projectDiv a:link {color: rgb(19,19,19);}
.projectDiv a:visited {color: rgb(19,19,19);}
.projectDiv a:hover {color: rgb(0, 115, 203);}
.projectDiv a:active {color: rgb(0, 68, 150);}


.projectImages {
    margin: auto;
    /* width: 66%; */
    flex: 2;
    box-shadow: 5px 5px 15px 1px rgb(215, 215, 215);
}
.projectImage {
    margin: auto auto 0 auto;
    width: 100%;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    width: 50%;
    padding: 10px;
    color: rgb(255, 248, 59);
    font-weight: bolder;
    font-size: 18px;
    border: none;
    outline: none;
  }

  .prev:hover, .next:hover {
    background-color: rgb(255, 248, 59);
    color: rgb(32, 105, 145);
  }

  .slideButtons {
      margin-top: 0;
  }

  audio {
    width: 100%;
    display: block;
  }

  .small {
      font-size: 12px;
  }

  @media screen and (max-width: 1100px) {
    .projectDiv {
        flex-direction: column;
    }
    .projectInfo,
    .projectImages {
        width: 95%;
        margin: auto;
    }
    .projectImages {
        margin-top: 30px;
    }
    .line {
        margin: 0;
        min-width: 100%;
    }
  }

  @media screen and (max-width: 510px) {
    .projectsContainer {
        width: 100%;
    }
    .projectImages{
        width: 100%;
        margin: 0;
    }

    .projectDiv {
        width: 100%;
        padding: 0;
    }
    .projectInfo, .projectImages {
        box-shadow: none;
    }
  }