html {
  min-height: 100%;
  width: 100%;
  overflow: auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
  background: rgb(19, 19, 19);
}

.px65 {
  font-size: 65px;
}

.px50 {
  font-size: 50px;
  font-weight: 300;
}

.center {
  text-align: center;
}